parameters:
	ignoreErrors:
		-
			message: '#^Property Slimani\\MediaManager\\Components\\Section\:\:\$view \(view\-string\) does not accept default value of type string\.$#'
			identifier: property.defaultValue
			count: 1
			path: src/Components/Section.php

		-
			message: '#^Trait Slimani\\MediaManager\\Concerns\\InteractsWithMediaFiles is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Concerns/InteractsWithMediaFiles.php

		-
			message: '#^Anonymous function never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Form/Components/MediaFileUpload.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Form/Components/MediaFileUpload.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 3
			path: src/Form/MediaPicker.php

		-
			message: '#^Anonymous function never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Form/MediaPicker.php

		-
			message: '#^Instanceof between Illuminate\\Database\\Eloquent\\Relations\\Relation and Illuminate\\Database\\Eloquent\\Relations\\MorphToMany will always evaluate to false\.$#'
			identifier: instanceof.alwaysFalse
			count: 1
			path: src/Form/MediaPicker.php

		-
			message: '#^Instanceof between Illuminate\\Database\\Eloquent\\Relations\\Relation\|null and Illuminate\\Database\\Eloquent\\Relations\\MorphToMany will always evaluate to false\.$#'
			identifier: instanceof.alwaysFalse
			count: 1
			path: src/Form/MediaPicker.php

		-
			message: '#^Using nullsafe property access "\?\-\>file_name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Form/MediaPicker.php

		-
			message: '#^Using nullsafe property access "\?\-\>mime_type" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Form/MediaPicker.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Form/MediaPicker.php

		-
			message: '#^Using nullsafe property access "\?\-\>size" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Form/MediaPicker.php

		-
			message: '#^Call to an undefined static method Filament\\Infolists\\Components\\RepeatableEntry\:\:callMountedAction\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/Infolists/Components/RepeatableEntry.php

		-
			message: '#^Call to an undefined method Filament\\Contracts\\Plugin\:\:getDisk\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Livewire/MediaBrowser.php

		-
			message: '#^Parameter \#1 \$folder of method Slimani\\MediaManager\\Livewire\\MediaBrowser\:\:recursiveDeleteFolder\(\) expects Slimani\\MediaManager\\Models\\Folder, Illuminate\\Database\\Eloquent\\Model given\.$#'
			identifier: argument.type
			count: 1
			path: src/Livewire/MediaBrowser.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 2
			path: src/Livewire/MediaBrowser.php

		-
			message: '#^Parameter \#1 \$view of method Filament\\Support\\Components\\ViewComponent\:\:view\(\) expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Livewire/MediaBrowser.php

		-
			message: '#^Ternary operator condition is always true\.$#'
			identifier: ternary.alwaysTrue
			count: 2
			path: src/Livewire/MediaBrowser.php

		-
			message: '#^Using nullsafe property access "\?\-\>timestamp" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: src/Livewire/MediaBrowser.php

		-
			message: '#^Call to an undefined method Spatie\\Image\\Drivers\\ImageDriver\:\:nonQueued\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Models/File.php
